*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    padding: 2rem;
}

main{
    max-width: 650px;
    display: grid;
    gap: 5rem;
}

.box{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 6px;
    border: 1px solid #6e4581;
}

@media(min-width: 650px){
    main{
        margin: 0 auto;
    }
}